<nav>
  <a class="logo" href="index.html">DREAM <span>ZONE</span></a>
  <ul class="nav-links">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="camisas.html">Camisas</a></li>
    <li><a href="sacos.html">Sacos</a></li>
    <li><a href="accesorios.html">Accesorios</a></li>
    <li><a href="otros.html">Otros</a></li>
  </ul>

  <div class="nav-icons">
    <button aria-label="Buscar">
       <img src="/images/icons/search.png" alt="Buscar" class="icon-img">
    </button>

    <button aria-label="Carrito">
       <span class="cart-badge" id="badge">!</span>
       <img src="/images/icons/cart.png" alt="Carrito" class="icon-img">
    </button>

    <button aria-label="Cuenta">
       <img src="/images/icons/user.png" alt="Usuario" class="icon-img">
    </button>

  </div>
</nav>